* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.health-container {
  width: 100%;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 0 30px;
}

.info.player-1 {
  align-items: flex-start;
}

.info.player-2 {
  align-items: flex-end;
}

.health-bar {
  width: 300px;
  height: 20px;
  background-color: #555;
  border: white;
  transform: skew(-20deg);
}

.health {
  width: 100%;
  height: 100%;
  background-color: rgb(76, 221, 76);
  transition: width 0.3s ease-in-out;
}

.hp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
}

.game {
  position: sticky;
  width: 1800px;
  height: 800px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.player {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
}

#player-1 {
  left: 100px;
  top: 150px;
}

#player-2 {
  left: 100px;
  top: 150px;
}
